body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 150px;
}
.flexible{   
    display: flex;
}
p{
    color: darkgray;
}
.banner{
    background: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half_width{
    width: 50%;
    padding: 0 2%;
}
.half_width img{
    width: 70%;
}
.text_part{
    display: flex;
    width: 50%;
}
.img_part{
    display: flex;
    width: 50%;
}
h1{
    font-size: 50px;
    font-weight: bolder;
}
.orange{
    color: orange;
}
.hire_btn{
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: linear-gradient(to bottom, #ff3333 0%, #ffa600 100%);
    border-radius: 5px;
}
.Dream_part{
    background: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* experience start */
.box_part{
    background: url(../images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience h1{
    text-transform: uppercase;
}
.experience_item{
    width: 40%;
    margin: 0 5%;
    box-shadow: 10px 10px 40px #888888;
    padding-left: 2%;
    padding-bottom: 100px;
}
.blue_border{
    
    border-left: 5px solid blue;
}
.tomato_border{
    
    border-left: 5px solid tomato;
}
/* footer */
footer p{
    text-align: center;
}